:root{
    --main-color: #077911;
    --bg-color: #000;
    --text-color: #181616;
    --accent-color: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    transition: background 0.3s, color o.3s;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--text-color);
    align-items: center;
    z-index: 100;
    padding: 1rem 3rem;
    border-bottom: 1px solid var(--main-color);
}
.logo {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--accent-color);
}
.logo span { color: var(--main-color); }

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
.navbar ul li a {
    text-decoration: none;
    color: var(--accent-color);
     font-weight: 500;
    transition: 0.3s;

}
.btn{
    background: var(--main-color);
    color: var(--accent-color);
    border: none;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s;
    
}

.btn:hover{
    background: var(--accent-color);
    color: var(--main-color);
}

.navbar ul li a:hover{
    color: var(--main-color);
}

.hero{
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 13rem;

}
.hero-details{
    width: 600px;
    color: var(--accent-color);
    
}
.hero .highlight{
    color: var(--main-color);

}

.hero-image{
    
    width: 400px;
    border-radius: 50%;
    box-shadow: 1px 1px 30px var(--main-color);
}
.hero-image img{
    align-items: center;
    width: 100%;
    border-radius: 50%;
}
.hero-details h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    line-height: 3rem;
}

.hero-details p {
    line-height: 1rem;
    color: #6e6b6b;
    margin-bottom: 1.5rem;
}

.hero-details a{
    text-decoration: none;
    transition: 0.3s;
}

.project{
    padding: 0 3rem;
    color: #6e6b6b;
}
.project h2{
    text-align: center;
    color: var(--main-color);
}
.title-line{
     width: 40px;
  height: 3px;
  background: var(--main-color);
  border: none;
  border-radius: 2px;
  margin: 10px auto;
}

.project-grid{
    margin: 50px 0;
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.project-grid .project-card{
    border: 1px solid #6e6b6b;
    border-radius: 8px;
    padding: 2rem  1rem 1rem;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project-card h3{
    color: var(--main-color);
}
 .project-card a{
    color: var(--main-color);
    text-decoration: none;
 }